* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Sour Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

p {
  color: #7e7e7e;
  line-height: 30px;
}

.container {
    margin: 0 auto;
    width: 1170px;
    display: block;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background: #fff;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.button.border {
    border: 1px solid black;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 0 -10px;
}

.col-4, .col-6 {
    float: left;
    padding: 0 10px;
}

.col-4 {
    width: 33.3333%
}

.col-6 {
    width: 50%;
}

#logo {
    float: left;
}

#nav {
    float: right;
    text-transform: uppercase;
    line-height: 100px;
}

#nav li {
    float: left;
}

#nav a {
    padding: 0 12px;
    color: #333;
    text-decoration: none;
    font-size: 13px;
}
#nav .active a {
    color: #d6b161;
}

.boundary:after {
    content: "|";
    padding: 0 12px;
}

#content > div {
    padding-top: 100px;
}

#content > div:first-child {
    padding-top: 0;
}

#content > hr {
    margin: 0;
    border-top: 1px solid #eee;
}

.slider img {
    widows: 100%;
    height: auto;
}

.intro {
    text-align: center;
    margin-bottom: 100px;
}

.intro h2 {
  margin: 0 auto;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  font-weight: normal;

}

.intro hr {
    width: 60px;
    margin: 0 auto;
    height: 2px;
    background: #595959;
    border: none;
}

.intro p {
    color: #7e7e7e;
}

.category {
    position: relative;
    margin-bottom: 20px;
}

.category img {
    width: 100%;
    height: auto;
}

.category .title {
    position: absolute;
    top: 35%;
    right: 10%;
    color: #222;
    font-size: 24px;
    font-weight: 300;
    text-transform:uppercase;
}

.category .title.dark {
    color: #222;
}

.category .title.light {
    color: #fff;
}

.products li {
    float: left;
}

.product .info {
    padding: 15px 0;
    text-align: center;
}

.product .title {
    margin: 0;
}

.product .title a {
    color: #222;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}

.product .price {
    color: #7e7e7e;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
}

.thumbnail {
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.thumbnail .cover {
    position: absolute;
    background: rgba(255,255,255,0.9);
    border: 20px solid rgba(0,0,0,.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;

    transition: all 0.3s;
}

.thumbnail .cover:hover {
    opacity: 1;
}

.thumbnail .cover a {
    position: absolute;
    text-decoration: none;
    color: #333;
    top: 45%;

}

.event {
    padding: 150px 0;
    background-image: url(http://lorempixel.com/1920/1080);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.event .title, .event .subtitle {
    margin: 0;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
}

.event .title {
    font-size: 70px;
}

.event .subtitle {
    font-size: 24px;
}

.featured {
    padding-bottom: 100px;
}

.featured img {
    width: 100%;
    height: auto;
}

.featured .info {
    margin-top: 70px;
    text-align: center;
}

.featured .info .title, .featured .info .name {
    text-transform: uppercase;
}

.featured .info .title, .featured .info .price {
    color: #d6b161;
}

.featured .info .name {
    margin: 0;
    font-weight: normal;
    margin-bottom: 10px;
}

.featured .info .price {
    font-size: 26px;
    font-weight: 100;
}

.featured .col-6 {
    padding: 0 30px;
}

.featured .info p {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 30px;
}

.outlets {
    padding-bottom: 100px;
}

.outlet h3 {
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.outlet.info {
    color: #7e7e7e;
    line-height: 30px;
}


.outlet .info a {
    color: #7e7e7e;
    text-decoration: none;
}

.outlet .map a {
    color: #d6b161;
    text-decoration: none;
    text-transform: uppercase;
}

#footer {
    position: relative;
    background: #f5f5f5;
    padding: 80px 0;
}

#footer .logo {
    position: absolute;
    border: 5px solid #f5f5f5;
    padding: 20px;
    background: #fff;
    top: -50px;
    left: 50%;
    transform:translateX(-50%);
}

#footer .copyright {
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#footer .copyright .subtitle {
    font-size: 12px;
    color: #323232;
}

#footer .social-media {
    float: right;
}

#footer .social-media li {
    float: left;
}

#footer .social-media a {
    display: inline-block;
    margin: 10px;
    border: 1px solid #222;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: #222;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#go-top {
    position: fixed;
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.6);
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
